h1{
    text-align: center;
    height: 20px;
    color: red;
}
#jadsh{
    text-align: center;
    height: 9px;
    color: black;
}
#jadsk{
    text-align: center;
    height: 9px;
    color: black;
}
#jadsl{
    text-align: center;
    height: 9px;
    color: black;
}
#jadsp{
    text-align: center;
    height: 9px;
    color: black;
}
#jadsm{
    text-align: center;
    height: 9px;
    color: black;
}
#jadsk{
    text-align: center;
    height: 9px;
    color:black;
}
#jadse{
    text-align: center;
    height: 9px;
    color:black;
}